.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px; /* Tamaño de los íconos */
    height: 30px; /* Tamaño de los íconos */
}
